
<div class="container">
  <div class="row">
    <div class="col-8 mx-auto text-center mt-5">

        <h1>ニャンコ ホーム</h1>
        <div class="about">
         <div class="text">
          ニャンコ　ホームへようこそ<br>
          <p></p>
          このサイトは猫ちゃんの幸せを第一に考えた<br>
          里親募集サイトとなっております。<br>
          ニャンコホームでは里親詐欺等の悪質な行為を<br>
          防ぐため会員登録後、利用可能となっております。<br>
          悪質な行為とみなされた場合は管理者にて<br>
          強制退会とさせていただきます。<br>
          <p></p>
          猫ちゃんにすてきな家族とお家を届けられますように…❤
          </div>
        </div>
    </div>
  </div>
</div>