<div class="row">
  <div class="col-lg-6 mx-auto">

      <h1> ニャンコ ホーム</h1>
<div class="top">
  <h3>
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-light" %>

        <%= link_to "サインアップ", new_user_registration_path, class: "btn btn-outline-light"%>
        </h3>
    </div>
  </div>
</div>