// Place all the styles related to the nyankograms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.test {
  display: flex;
  justify-content: flex-end;
  }

.deletebtn {
  display: flex;
  justify-content: flex-end;
}